<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Strona Główna</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a><img style="cursor: context-menu;" src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>
        <div class="gramatyka">
        <table class="table">
            <a class = "przycisks" href="javascript:history.back()">Powrót</a>

            <thead class="thead">
                <tr>
                    <th class="col1" colspan="1">
                        <b>Imie:</b>
                       
                    </th>
                    <th class="col1" colspan="1">
                        <center><b>Nazwisko:</b></center>
                      
                    </th>

                    <th class="col1" colspan="1">
                        <center><b>email:</b></center>
                    </th> 
                    <th class="col1" colspan="1">
                        <b>Ostatnie logowanie:</b>
                    </th>
                    </th>
                    <th class="col1" colspan="1">
                        <b>Opcje:</b>
                      
                    </th>
                </tr>
            </thead>

           <tbody>
            <% for(var i=0; i<uzytkownik.length; i++) {%>
                <tr>
                    <td class="col1">
                        <div class="text"><a> <%= uzytkownik[i].imie%></a></div>
                    </td>
                    <td class="col1">
                        <div class="text"><a> <%= uzytkownik[i].nazwisko%></a></div>
                    </td>
                    
                    <td class="col1">
                        <div class="text"><a> <%= uzytkownik[i].email%></a></div>
                    </td>
                    <td class="col1">
                        <div class="text"><a> <%= uzytkownik[i].data_ostatniego_logowania%></a></div>
                    </td>
                    <td class="col1">
                        <div class="text"><a href="/admin/uzytkownicy?idu=<%= uzytkownik[i].id%>"><button style="cursor: pointer;">Skasuj</button></a></div>
                        <div class="text"><a href="/admin/uzytkownicy/postepa?idu=<%= uzytkownik[i].id%>"><button style="cursor: pointer;">Wyświetl informacje o postępach angielskiego</button></a></div>
                        <div class="text"><a href="/admin/uzytkownicy/postepn?idu=<%= uzytkownik[i].id%>"><button style="cursor: pointer;">Wyświetl informacje o postępach niemieckiego</button></a></div>
                    </td>
                </tr>
            <% } %>

            </div>
            
            </tbody>
        </table>
</div>
        
</body>
</html>