<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <script>
    src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"
    src="/javascripts/main.js"
</script>

</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li> 
                </ul>
            </nav>            
        </div>

        <div class="start_btn"><button>Rozpocznij test</button></div>
        <div class="info_box">
            <div class="info-title"><span>Zasady</span></div>
            <div class="info-list">
                <div class="info">1. Masz <span>15 sekund</span> na każdy pytanie.</div>
                <div class="info">2. Jest tylko jedna poprawna odpowiedź.</div>
                <div class="info">3. Nie możesz zaznaczyć odpowiedzi po czasie.</div>
                <div class="info">4. Nie możesz opuścić testu.</div>
                <div class="info">5. Za każda poprawna odpowiedź dostajesz jeden punkt</div>
            </div>
            <div class="buttons">
                <button class="quit">Opuść test</button>
                <button class="restart">Kontynuuj</button>
            </div>
        </div>
    
        <div class="quiz_box">
            <header>
                <div class="timer">
                    <div class="time_left_txt">Czas: </div>
                    <div class="timer_sec">15</div>
                </div>
                <div class="time_line"></div>
            </header>
            <section>
                <div class="que_text">
                </div>
                <div class="option_list">
                </div>
            </section>
    
            <footer>
                <div class="total_que">
                </div>
                <button class="next_btn">Dalej</button>
            </footer>
        </div>
    
        <div class="result_box">
            <div class="icon">
                <i class="fas fa-crown"></i>
            </div>
            <div class="complete_text">Ukończyłeś test</div>
            <div class="score_text">
            </div>
            <div class="buttons">
            <button class="quit">Wyjdź z testu</button>
            </div>
        </div>

    </div>
 
</body>



<script>

        
        let dodaj;

        function shuffleArray(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    const temp = array[i];
    array[i] = array[j];
    array[j] = temp;
  }
}


        
    const start_btn = document.querySelector(".start_btn button");
    const info_box = document.querySelector(".info_box");
    const exit_btn = info_box.querySelector(".buttons .quit");
    const continue_btn = info_box.querySelector(".buttons .restart");
    const quiz_box = document.querySelector(".quiz_box");
    const result_box = document.querySelector(".result_box");
    const option_list = document.querySelector(".option_list");
    const time_line = document.querySelector("header .time_line");
    const timeText = document.querySelector(".timer .time_left_txt");
    const timeCount = document.querySelector(".timer .timer_sec");
    
    start_btn.onclick = ()=>{
        info_box.classList.add("activeInfo");
    }
    
    exit_btn.onclick = ()=>{
        info_box.classList.remove("activeInfo"); 
    }
    
    continue_btn.onclick = ()=>{
        info_box.classList.remove("activeInfo"); 
        quiz_box.classList.add("activeQuiz"); 
        showQuetions(0); 
        queCounter(1); 
        startTimer(15); 
        startTimerLine(0); 
    }
    
    let timeValue =  15;
    let que_count = 0;
    let que_numb = 1;
    let userScore = 0;
    let counter = 1;
    let counterLine;
    let widthValue = 0;
    
    const quit_quiz = result_box.querySelector(".buttons .quit");
    
    
    quit_quiz.onclick = ()=>{
        window.location.reload(); 
    }
    
    const next_btn = document.querySelector("footer .next_btn");
    const bottom_ques_counter = document.querySelector("footer .total_que");
    
    next_btn.onclick = ()=>{
        if(que_count < questions.length - 1){ 
            que_count++; 
            que_numb++; 
            showQuetions(que_count); 
            queCounter(que_numb); 
            clearInterval(counter);
            clearInterval(counterLine); 
            startTimer(timeValue); 
            startTimerLine(widthValue); 
            timeText.textContent = "Time Left"; 
            next_btn.classList.remove("show"); 
        }else{
            clearInterval(counter); 
            clearInterval(counterLine);
            zapis();
            showResult(); 
        }
    }
    
    function showQuetions(index){
        // var dlugosc = "<%= testangielski.length %>";
        const que_text = document.querySelector(".que_text");
        var numb = "<%= testangielski.test_id %>";
        var question = "<%= testangielski.tresc%>"
        
        let que_tag = '<span>'+ questions[index].question +'</span>';
        
        let option_tag = '<div class="option"><span>'+ questions[index].options[0] +'</span></div>'
                        + '<div class="option"><span>'+ questions[index].options[1] +'</span></div>'
                        + '<div class="option"><span>'+ questions[index].options[2] +'</span></div>'
                        + '<div class="option"><span>'+ questions[index].options[3] +'</span></div>';

        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        que_text.innerHTML = que_tag; 
        option_list.innerHTML = option_tag; 
        
        const option = option_list.querySelectorAll(".option");
    
        for(i=0; i < option.length; i++){
            option[i].setAttribute("onclick", "optionSelected(this)");
        }
        
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    }
    let tickIconTag = '<div class="icon tick"><i class="fas fa-check"></i></div>';
    let crossIconTag = '<div class="icon cross"><i class="fas fa-times"></i></div>';

    function optionSelected(answer){
        clearInterval(counter); 
        clearInterval(counterLine); 
        let userAns = answer.textContent; 
        let correcAns = questions[que_count].answer; 
        const allOptions = option_list.children.length;
        
        if(userAns == correcAns){ 
            userScore += 1; 
            answer.classList.add("correct"); 
            answer.insertAdjacentHTML("beforeend", tickIconTag); 
        }else{
            answer.classList.add("incorrect"); 
            answer.insertAdjacentHTML("beforeend", crossIconTag); 
    
            for(i=0; i < allOptions; i++){
                if(option_list.children[i].textContent == correcAns){
                    option_list.children[i].setAttribute("class", "option correct"); 
                    option_list.children[i].insertAdjacentHTML("beforeend", tickIconTag); 
                }
            }
        }
        for(i=0; i < allOptions; i++){
            option_list.children[i].classList.add("disabled"); 
        }
        next_btn.classList.add("show"); 
    }
    
    function showResult(){
        info_box.classList.remove("activeInfo");
        quiz_box.classList.remove("activeQuiz"); 
        result_box.classList.add("activeResult"); 
        const scoreText = result_box.querySelector(".score_text");
        if (userScore > 1){ 
            let scoreTag = '<span>Uzyskałeś <p>'+ userScore +'</p> na <p>'+ questions.length +'</p></span>';
            scoreText.innerHTML = scoreTag; 
        }
        else{ 
            let scoreTag = '<span>Uzyskałeś <p>'+ userScore +'</p> na <p>'+ questions.length +'</p></span>';
            scoreText.innerHTML = scoreTag;
            
        }
    }

    
    function zapis()

    {
        
    var wynik = Math.round((userScore*100)/questions.length);
    var test= "<%= testangielski[0].test_id%>";
    console.log(wynik);
    console.log(test);
    fetch(`/zapiszwynik?wynik=${wynik}&test=${test}`);
       

}



    
    
    function startTimer(time){
        counter = setInterval(timer, 1000);
        function timer(){
            timeCount.textContent = time; 
            time--; 
            if(time < 9){ 
                let addZero = timeCount.textContent; 
                timeCount.textContent = "0" + addZero; 
            }
            if(time < 0){ 
                clearInterval(counter); 
                timeText.textContent = "Czas"; 
                const allOptions = option_list.children.length; 
                let correcAns = questions[que_count].answer; 
                for(i=0; i < allOptions; i++){
                    if(option_list.children[i].textContent == correcAns){ 
                        option_list.children[i].setAttribute("class", "option correct"); 
                        option_list.children[i].insertAdjacentHTML("beforeend", tickIconTag); 
                    }
                }
                for(i=0; i < allOptions; i++){
                    option_list.children[i].classList.add("disabled"); 
                }
                next_btn.classList.add("show"); 
            }
        }
    }
    
    function startTimerLine(time){
        counterLine = setInterval(timer, 29);
        function timer(){
            time += 1; 
            time_line.style.width = time + "px"; 
            if(time > 549){ 
                clearInterval(counterLine); 
            }
        }
    }
    
    function queCounter(index){
        let totalQueCounTag = '<span><p>'+ index +'</p> z <p>'+ questions.length +'</p> pytań</span>';
        bottom_ques_counter.innerHTML = totalQueCounTag;  
    }
    

    const questions = [
            {
                numb: 0,
                question: "<%= testangielski[0].tresc %>",

                answer: "<%= testangielski[0].poprawna_odp %>",
                options: [
                "<%= testangielski[0].bledna_odp_3 %>",
                "<%= testangielski[0].bledna_odp_1 %>",
                "<%= testangielski[0].bledna_odp_2 %>",
                "<%= testangielski[0].poprawna_odp %>"
                ]
            },

        ]




</script>



<% for (var i=1; i<testangielski.length; i++) {%>
    <script>
        var liczba=1;
        
        //console.log("<%=testangielski.length %>");
        var dlugosc="<%=testangielski.length %>";
        
/*
    var id = "<%= testangielski[i].id %>";
    var q = "<%= testangielski[i].tresc %>";
    var a = "<%= testangielski[i].poprawna_odp %>";
    var o1 = "<%= testangielski[i].bledna_odp_1 %>";
    var o2 = "<%= testangielski[i].bledna_odp_2 %>";
    var o3 = "<%= testangielski[i].bledna_odp_3 %>";
*/
     dodaj = 
     
            {
                numb: liczba,
                question: q = "<%= testangielski[i].tresc %>",

                answer: a = "<%= testangielski[i].poprawna_odp %>",
                options: [
                o3 = "<%= testangielski[i].bledna_odp_3 %>",
                o1 = "<%= testangielski[i].bledna_odp_1 %>",
                o2 = "<%= testangielski[i].bledna_odp_2 %>",
                a = "<%= testangielski[i].poprawna_odp %>"
                ]
            }
        

        shuffleArray(dodaj.options);
        questions.push(dodaj);


    </script>

<%  } %>
</html>
