<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Strona Główna</title>
    <link rel="stylesheet" href="/css/style3.css" />
    <script
    src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"
    src="/javascripts/main.js"
></script>
</head>
<body>
    <div class="container">
        <div class="navbar">
            
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>

                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/ustawienia">Ustawienia</a></li>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>
         
        <div class="tabela">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th class="col1" colspan="1">
                        <b>Moje dane:</b>
                       
                    </th>
                    
                </tr>
            </thead>

           <tbody>
                
                <tr>
                    <td class="col1">
                        <div class="text"><a> Imie</a></div>
                    </td>

                    <td class="col1">
                        <div class="text"><a> <%= user %></a></div>
                    </td>
                </tr>

                <tr>
                    <td class="col1">
                        <div class="text"><a> Nazwisko</a></div>
                    </td>

                    <td class="col1">
                        <div class="text"><a> <%= nazwisko %></a></div>
                    </td>
                </tr>             

                <tr>
                    <td class="col1">
                        <div class="text"><a> Email</a></div>
                    </td>

                    <td class="col1">
                        <div class="text"><a> <%= email %></a></div>
                    </td>
                </tr>
                <tr>
                    <td class="col1">
                        <div class="text"><a> Hasło</a></div>
                    </td>

                    <td class="col1">
                        <div class="text"><a href="/Uzytkownik/ustawienia/zmianahasla"><button style="cursor: pointer;">Zmień swoje hasło</button></a></div>
                    </td>
                </tr>
                <tr>
                    <td class="col1">
                        <div class="text"><a> Konto</a></div>
                    </td>

                    <td class="col1">
                        <div class="start_btn" ><button style="cursor: pointer;">Skasuj moje konto</button></a></div>
                        
                    </div>

                        </td>
                    </td>
                </tr>
                
                </thead>
                
            <thead class="thead">
                    <tr>
                        <th class="col1" colspan="1">
                            <b>Moje postępy:</b>  
                        </th>
                        
                    </tr>
                    <tbody>
                
                        <tr>
                            <td class="col1">
                                <div class="text"><a href="/Uzytkownik/ustawienia/postepa?idu=<%= id %>"><button style="cursor: pointer;">Wyświetl informacje o postępach angielskiego</button></a></div>
                            </td>
        
                            <td class="col1">
                                <div class="text"><a href="/Uzytkownik/ustawienia/postepn?idu=<%= id %>"><button style="cursor: pointer;">Wyświetl informacje o postępach niemieckiego</button></a></div>
                            </td>
                        </tr>
            </tbody>
           

            </tbody>

        </table>
        <div class="info_box">
            <div class="info-list">
                <div class="info">Czy napewno chcesz skasować konto?</div>
                <div> Jeśli klikniesz "Tak" stracisz cały postęp </div>
            </div>
            <div class="buttons">
                <button style="cursor: pointer;" class="quit">Nie</button>
                <button class="text"><a href="/koniec?idu=<%= id %>">Tak</a></button>
            </div>
        </div>
</div>  

</body>
<script>
    

    const start_btn = document.querySelector(".start_btn button");
    const info_box = document.querySelector(".info_box");
    const exit_btn = info_box.querySelector(".buttons .quit");

    start_btn.onclick = () => {
        info_box.classList.add("activeInfo"); 
    }
    
    exit_btn.onclick = ()=>{
        info_box.classList.remove("activeInfo"); 
    }
    
</script>
</html>