<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Strona Główna</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="/Uzytkownik/stronaGlowna"><img src="/img/logo.png" class="logo" href=""/></a>
            <nav>
                <ul>
                    <a style="color: beige;">Witaj <%= user %>!</a>
                    <li class="przyciskP"><a href="/Uzytkownik/wyloguj">Wyloguj się</a></li>
                </ul>
            </nav>            
        </div>
        <div class="gramatyka">
        <table class="table">
            <thead class="thead">
                <tr>
                    <a class = "przycisks" href="/admin/testNiemiecki">Powrót</a>   
                    <a class = "przycisks" href="/admin/testNiemiecki/dodajTestNiemiecki/dodajPytanieNiemiecki?idT=<%=idT%>">Dodaj Pytanie</a>
                </tr>
            </thead>
           <tbody>
                <tr>
                    <td class="col1">
                        <div class="text"><a>Pytania do testu</a></div>
                    </td>

                    <td class="col1">
                        <thead class="thead">
                            <tr>
                                <th class="col1" colspan="1">
                                    <br/><br/><br/>
                                    <b>Treść pytania:</b>
                                </th>
                                <th class="col1" colspan="1">
                                    <br/><br/><br/>
                                    <b>Poprawna odpowiedź:</b>
                                </th>
                                <th class="col1" colspan="1">
                                    <br/><br/><br/>
                                    <b>błędne odpowiedzi:</b>
                                </th>
                                <th class="col1" colspan="1">
                                    <br/><br/><br/>
                                    <b>opcje</b>
                                </th>
                            </tr>
                        </thead>
                        <div class="text"><a> </a></div>
                        <form id="RegForm" name="RegForm" action="" method="POST">
                            <% for(var i=0; i< pytania.length; i++) {%>
                                <tr>
                                    <td class="col1">
                                        <p id="wymowa"><%= pytania[i].tresc%></p>
                                    </td>
                                    <td class="col1">
                                        <p><%= pytania[i].poprawna_odp%></p>                               
                                    </td>
                                    <td class="col1">
                                        <p><%= pytania[i].bledna_odp_1%></p> 
                                        <p><%= pytania[i].bledna_odp_2%></p>  
                                        <p><%= pytania[i].bledna_odp_3%></p>                                
                                    </td>
                                    <td class="col1">
                                        <a class="przycisks" href="">Usuń</a>  
                                    </td>
                                    <td class="col1">
                                        <a class="przycisks" href="">Edytuj</a>  
                                    </td>
                                    <div class="text"><a></a></div>
                                </tr>
                            <% } %>

                        </form>
                    </td>  
                </tr>
                <tr>    
            </tr>
            </div>
            </tbody>
        </table>
</div>
</body>
</html>